BODY { 
	FONT-SIZE: 16pt; 
	BACKGROUND-COLOR: #FDD700;
	COLOR: black; 
	LINE-HEIGHT: 160%; 
	FONT-FAMILY: "Malgun Gothic",verdana,tahoma;
	}
	
TABLE{
	width:100%;
	border-collapse: collapse;
	border: 1px solid #ffffff;
	PADDING: 20px;
}
	 
TD { 
	FONT-SIZE: 16pt;
	COLOR: black;
	LINE-HEIGHT: 160%;
	PADDING: 10px;
	FONT-FAMILY: "Malgun Gothic",verdana,tahoma ;
	} 
	
SELECT { 
	FONT-SIZE: 16pt; 
	COLOR: black; 
	LINE-HEIGHT: 160%; 
	FONT-FAMILY: "Malgun Gothic",verdana,tahoma ;
	}
 
DIV { 
	FONT-SIZE: 16pt; 
	COLOR: black; 
	LINE-HEIGHT: 160%; 
	FONT-FAMILY: "Malgun Gothic",verdana,tahoma ;
	}
	
FORM { 
	FONT-SIZE: 16pt; 
	COLOR: black; 
	LINE-HEIGHT: 160%; 
	FONT-FAMILY: "Malgun Gothic",verdana,tahoma ;
	} 

TEXTAREA { 
	BORDER-RIGHT: 2px solid #999999;
	BORDER-TOP: 2px solid #999999; 
	BORDER-LEFT: 1px solid #999999;
	BORDER-BOTTOM: 1px solid #999999;
	FONT-SIZE: 16pt;
	COLOR: BLACK;
	FONT-FAMILY: "Malgun Gothic",verdana; 
	BACKGROUND-COLOR: white;
	}

INPUT { 
	BORDER-RIGHT: 3px solid #999999;
	BORDER-TOP: 3px solid #999999;
	BORDER-LEFT: 2px solid #999999;
	FONT-SIZE: 16pt;
	BORDER-BOTTOM: 2px solid #999999;
	COLOR: BLACK;
	FONT-FAMILY: "Malgun Gothic",verdana;
	HEIGHT: 30px;
	BACKGROUND-COLOR: white;
	}

input[type=button]
{
	FONT-SIZE: 20pt;
	BORDER: none;
	border-radius: 5px;
	color: BLACK;
	BACKGROUND-COLOR: #FDD700;
	HEIGHT: 35px;
	FONT-FAMILY: "Malgun Gothic",verdana;
}

input[type=image]
{
	BORDER: none;
	border-radius: 5px;
	vertical-align: middle; 
	HEIGHT:60px;
	width: 60px;
}


A:link {text-decoration:none;color:#333333} 
A:hover{text-decoration:yes;color:#66CCFF} 
A:visited {text-decoration:none;color:#333333}

